/* index.html styles */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header nav div{
    display: inline-flex;
} */
a{
    text-decoration: none;
}
header{
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1000;
}
header nav ul img{
    /* width: 100px;
    height: 100px; */
    margin: 0 ;
    padding-left: 160px;
    padding-top: 10px;
}
header nav ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
}
header nav ul li{
    list-style-type: none;
    padding-left: 40px;
    padding-top: 20px;
    
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}
header nav ul .apply{
    /* padding-left: 10px; */
    padding-top: 15px;
    text-align: center;
    align-items: center;
    background-color: red;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 5px;
    
}
header nav ul .apply:hover{
    box-shadow: 3px 3px 3px 3px grey;
}

header nav ul .login{
    margin-left: 10px;
    border: 2px solid blue;
    width: 150px;
    height: 50px;
    padding-top: 15px;
    margin-top: 5px;
    padding-left: 25px;
    color: blue;
    border-radius: 5px;
}
header nav ul .login:hover{
    background-color: blue;
    color: white;
}

.container{
    width: 100%;
    /* height: 100vh; */
    background-image: url(https://assets.scaler.com/assets/academy/svg/banner-background-34136d3a9ddff172e6bae6e3d8283c452231dcda2196b055bfa2e34e222754b7.svg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* width: 100%; */
    background-size: contain;
    /* position: fixed; */
    /* clear: both; */
    /* margin-top: 20px; */
    margin-top: 60px;
}
.container .section-1{
    display: flex;
}
.container .left{
    width: 440px;
    height: 300px;
    /* border: 2px solid black; */
    color: white;
    margin-top: 120px;
    margin-left: 150px;
    line-height: 50px;
}
.left h1{
    font-size: 40px;
}
.container .section-1 .left .button{
    display: inline-flex;
}
.container .section-1 .left .button .but1{
    width: 200px;
    border: 2px solid red;
    margin-right: 10px;
    padding-left: 20px;
    color: white;
    background-color: red;
    border-radius: 5px;
}
.container .section-1 .left .button .but2{
    width: 200px;
    border: 2px solid red;
    background-color: #fff;
    color: skyblue;
    border-radius: 5px;
    padding-left: 20px;
}
.container .left h1,h2{
    margin-bottom: 15px;
}
.container .section-1 .right #img1{
    width: 400px;
    height: 300px;
    margin-left: 250px;
    margin-top: 100px;
    position: absolute;

}
.container .section-1 .right #img2{
    margin-top: 10px;
    margin-left: 0px;
    width: 400px;
    height: 300px;
    position: absolute;
}
.container .section-1 .right #img3{
    width: 350px;
    height: 250px;
    margin-top: 250px;
    margin-left: 520px;
    position: absolute;
}
.container .section-1 .right:hover #img2
{
    transform: translate(-30px,-30px);
    transition: 1s;
}
.container .section-1 .right:hover #img3
{
    transform: translate(30px,30px);
    transition: 1s;
}
.container .section-2{
    border: 2px solid black;
    width: 1100px;
    height: 650px;
    margin-left: 250px;
    margin-top: 120px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px rgb(45, 187, 192);
}
.container .section-2 p{
    font-size: 30px;
    word-spacing: 5px;
    margin-top: 20px;
    margin-left: 30px;
}




/* part-1 */


.container .section-2 .part-1{
    margin: 20px;
    /* margin-top: 40px; */
    /* border: 2px solid black; */
    display: inline-flex;
}
.container .section-2 .part-1 .first-box{
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgb(130, 130, 221);
    border-radius: 10px;
}
.container .section-2 .part-1 .first-box img{
    margin-left: 80px;
    margin-top: 20px;

}
.container .section-2 .part-1 .first-box h2{
    margin-left: 30px;
    margin-top: 30px;
}
.container .section-2 .part-1 .second-box{
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgb(223, 75, 99);
    border-radius: 10px;
}
.container .section-2 .part-1 .second-box img{
    margin-left: 80px;
    margin-top: 20px;

}
.container .section-2 .part-1 .second-box h2{
    margin-left: 30px;
    margin-top: 20px;
}
.container .section-2 .part-1 .third-box{
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgb(74, 230, 74);
    border-radius: 10px;
}
.container .section-2 .part-1 .third-box img{
    margin-left: 80px;
    margin-top: 20px;

}
.container .section-2 .part-1 .third-box h2{
    margin-left: 30px;
    margin-top: 20px;
}





/* part-2 */
.container .section-2 .part-2{
    margin: 20px;
    /* margin-top: 40px; */
    /* border: 2px solid black; */
    display: inline-flex;
}
.container .section-2 .part-2 .fourth-box{
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgb(130, 130, 221);
    border-radius: 10px;
}
.container .section-2 .part-2 .fourth-box img{
    margin-left: 80px;
    margin-top: 20px;

}
.container .section-2 .part-2 .fourth-box h2{
    margin-left: 30px;
    margin-top: 30px;
}
.container .section-2 .part-2 .fifth-box{
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgb(134, 190, 50);
    border-radius: 10px;
}
.container .section-2 .part-2 .fifth-box img{
    margin-left: 80px;
    margin-top: 20px;

}
.container .section-2 .part-2 .fifth-box h3{
    margin-left: 30px;
    margin-top: 20px;
}
.container .section-2 .part-2 .sixth-box{
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgb(139, 74, 199);
    border-radius: 10px;
}
.container .section-2 .part-2 .sixth-box img{
    margin-left: 80px;
    margin-top: 20px;

}
.container .section-2 .part-2 .sixth-box h2{
    margin-left: 30px;
    margin-top: 20px;
}

/* container-2 */
.container-2 h1{
    text-align: center;
    padding-top: 20px;
}


/* container-3 */

.container-3{
    width: 90%;
    height: 80vh;
    /* border: 2px solid black; */
    /* align-content: center; */
    margin: 0 auto;
    margin-top: 10px;
}

/* s1  */
.container-3 .s1{
    width: 90%;
    height:40vh;
    margin: 0 auto;
    /* border: 2px solid yellowgreen; */
    display: flex;
    
}

/* s1 boxes */
.container-3 .s1 .f1{
    width: 350px;
    height: 200px;
    border: 2px solid red;
    margin: 50px 30px;
    border-radius: 10px;
}
.container-3 .s1 .f1 img{
    padding-left: 120px;
}
.container-3 .s1 .f1 h2{
    text-align: center;
    padding-top: 10px;
}
.container-3 .s1 .f1 p{
    text-align: center;
    color: rgb(128, 100, 100);
}
.container-3 .s1 .f2{
    width: 350px;
    height: 200px;
    border: 2px solid red;
    margin: 50px 30px;
    border-radius: 10px;
}
.container-3 .s1 .f2 img{
    padding-left: 120px;
}
.container-3 .s1 .f2 h2{
    text-align: center;
    padding-top: 10px;
}
.container-3 .s1 .f2 p{
    text-align: center;
    color: rgb(128, 100, 100);
}
.container-3 .s1 .f3{
    width: 350px;
    height: 200px;
    border: 2px solid red;
    margin: 50px 30px;
    border-radius: 10px;
}
.container-3 .s1 .f3 img{
    padding-left: 120px;
}
.container-3 .s1 .f3 h2{
    text-align: center;
    padding-top: 10px;
}
.container-3 .s1 .f3 p{
    text-align: center;
    color: rgb(128, 100, 100);
}

/* s 2 */
.container-3 .s2{
    width: 90%;
    height:40vh;
    margin: 0 auto;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;

}



/* section 2 boxes */
.container-3 .s2 .f1{
    width: 350px;
    height: 200px;
    border: 2px solid red;
    margin: 50px 30px;
    border-radius: 10px;
    margin-left: 200px;
}
.container-3 .s2 .f1 img{
    padding-left: 120px;
}
.container-3 .s2 .f1 h2{
    text-align: center;
    padding-top: 10px;
}
.container-3 .s2 .f1 p{
    text-align: center;
    color: rgb(128, 100, 100);
}
.container-3 .s2 .f2{
    width: 350px;
    height: 200px;
    border: 2px solid red;
    margin: 50px 30px;
    border-radius: 10px;
}
.container-3 .s2 .f2 img{
    padding-left: 120px;
}
.container-3 .s2 .f2 h2{
    text-align: center;
    padding-top: 10px;
}
.container-3 .s2 .f2 p{
    text-align: center;
    color: rgb(128, 100, 100);
}


/* container 4 */

.container-4{
    width: 100%;
    /* height: 80vh; */
    /* border: 2px solid black; */
    background-color: skyblue;
}
.container-4>h1{
    text-align: center;
    margin-top: 10px;
}
.container-4 .portion-1{
    display: flex;
    border-bottom: 2px solid grey;
    padding-bottom: 40px;
    width: 1000px;
    /* margin: 0; */
    margin-left: 250px;
    margin-top:40px;
}
.container-4 .portion-1 .left1{
    border-right: 2px solid rgb(27, 94, 27);
    width: 550px;
    height: 60vh;
    margin-left: 50px;
    padding-top: 20px;
    padding-right: 100px;
    color: grey;
    /* float: left; */
}
.container-4 .portion-1 .left1 .b1{
    display: flex;
    margin-bottom: 30px;
}
.container-4 .portion-1 .left1 .b1 img{
    margin-right: 10px;
}
.container-4 .portion-1 .left1 .b2{
    display: flex;
    margin-bottom: 30px;
}
.container-4 .portion-1 .left1 .b2 img{
    margin-right: 10px;
}
.container-4 .portion-1 .left1 .b3{
    display: flex;
    margin-bottom: 30px;
}
.container-4 .portion-1 .left1 .b3 img{
    margin-right: 10px;
}
.container-4 .portion-1 .left1 .b4{
    display: flex;
    margin-bottom: 230px;
}
.container-4 .portion-1 .left1 .b4 img{
    margin-right: 10px;
}


/* container 4 portion1 right section */
.container-4 .portion-1 .right1{
    /* float: right; */
    margin-left: 30px;
    /* border: 2px solid blue; */
    width: 500px;
    height: 60vh;
    color: grey;

}

.container-4 .portion-1 .right1 .br1{
    display: flex;
    margin-bottom: 40px;
}
.container-4 .portion-1 .right1 .br1 img{
    margin-right: 10px;
}
.container-4 .portion-1 .right1 .br2{
    display: flex;
    margin-bottom: 40px;
}
.container-4 .portion-1 .right1 .br2 img{
    margin-right: 10px;
}
.container-4 .portion-1 .right1 .br3{
    display: flex;
    margin-bottom: 40px;
}
.container-4 .portion-1 .right1 .br3 img{
    margin-right: 10px;
}
.container-4 .portion-1 .right1 .br4{
    display: flex;
    margin-bottom: 40px;
}
.container-4 .portion-1 .right1 .br4 img{
    margin-right: 10px;
}


/* container 4 portion 2  */
.container-4 .portion-2>p.p1{
    font-size: 40px;
    text-align: center;
    /* margin-top: 50px; */
    
}
.container-4 .portion-2>p.p2{
    text-align: center;
    color: grey;
    width: 900px;
    margin-left: 300px;
}
.container-4 .portion-2>p.p3{
    color: grey;
    text-align: center;
}

/* subscription part */

.container-4 .portion-2 .subscription{
    width: 90%;
    /* border: 2px solid black; */
    height: 250px;
    margin: auto;
    display: flex;
}

/* beginner  */
.container-4 .portion-2 .subscription .beginner{
    width: 33%;
    /* border: 2px solid blueviolet; */
    height: 250px;
}
.container-4 .portion-2 .subscription .beginner .toggle{
    width: 100%;
    height: 50px;
    border: 2px solid purple;
    display: inline-flex;
    background-color: blue;
}
.container-4 .portion-2 .subscription .beginner .toggle img{
    margin-left: 100px;
}
.container-4 .portion-2 .subscription .beginner .toggle h4{
    margin-top: 12px;
    margin-left: 5px;
}

/* toggle bars */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* ends */
  .container-4 .portion-2 .subscription .beginner .beg-inner{
      background-color: rgb(82, 82, 218);
      height: 190px;
  }
  .container-4 .portion-2 .subscription .beginner .beg-inner p{
    text-align: center;
  }

  /* intermediate */

.container-4 .portion-2 .subscription .intermediate{
    width: 33%;
    /* border: 2px solid blueviolet; */
    height: 250px;
}
.container-4 .portion-2 .subscription .intermediate .toggle1{
    width: 100%;
    height: 50px;
    /* border: 2px solid purple; */
    display: inline-flex;
    background-color: white;
}
.container-4 .portion-2 .subscription .intermediate .toggle1 img{
    margin-left: 100px;
}
.container-4 .portion-2 .subscription .intermediate .toggle1 h4{
    margin-top: 12px;
    margin-left: 5px;
}
.container-4 .portion-2 .subscription .intermediate .int-inner{
    background-color: rgb(75, 178, 219);
    height: 190px;
}
.container-4 .portion-2 .subscription .intermediate .int-inner p{
  text-align: center;
}


/* advanced */

.container-4 .portion-2 .subscription .advanced{
    width: 33%;
    /* border: 2px solid blueviolet; */
    height: 250px;
}
.container-4 .portion-2 .subscription .advanced .toggle2{
    width: 100%;
    height: 50px;
    /* border: 2px solid purple; */
    display: inline-flex;
    background-color: white;
}
.container-4 .portion-2 .subscription .advanced .toggle2 img{
    margin-left: 100px;
}
.container-4 .portion-2 .subscription .advanced .toggle2 h4{
    margin-top: 12px;
    margin-left: 5px;
}
.container-4 .portion-2 .subscription .advanced .adv-inner{
    background-color: rgb(75, 178, 219);
    height: 190px;
}
.container-4 .portion-2 .subscription .advanced .adv-inner p{
  text-align: center;
}

/* container 4 portion 3 */

.container-4 .portion-3>p{
    font-size: 30px;
    text-align: center;
}

/* boxes */
.container-4 .portion-3 .boxes{
    width: 100%;
    height: 550px;
    align-items: center;
    /* border: 2px solid black; */
    display: inline-flex;
    justify-content: center;
}
.container-4 .portion-3 .boxes .bx-1{
    width: 400px;
    height: 500px;
    /* border: 2px solid blue; */
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.container-4 .portion-3 .boxes .bx-2{
    width: 400px;
    height: 500px;
    /* border: 2px solid yellow; */
    background-color: #fff;
    margin-right: 10px;
    border-radius: 10px;
}
.container-4 .portion-3 .boxes .bx-3{
    width: 400px;
    height: 500px;
    /* border: 2px solid green; */
    background-color: #fff;
    margin-right: 10px;
    border-radius: 10px;
}
/* bx-1  */


.container-4 .portion-3 .boxes .bx-1>p{
    /* text-align: center; */
    /* width: 10px; */
    font-size: 20px;
    padding-top: 30px;
    padding-left: 60px;
    /* align-items: center; */
}
.container-4 .portion-3 .boxes .bx-1 .s-1{
    display: flex;
    /* border: 2px solid pink; */
    margin-top: 30px;
}
.container-4 .portion-3 .boxes .bx-1 .s-1 img{
    /* margin-top: 20px; */
    margin-left: 30px;
}
.container-4 .portion-3 .boxes .bx-1 .s-1 p{
    margin-left: 0;
    background-color: rgb(70, 178, 221);
    padding: 8px;
    margin-left: 10px;
    border-radius: 10px;
}
/* unordered list */

.container-4 .portion-3 .boxes .bx-1 ul{
    margin-left: 30px;
    margin-top: 30px;
}
.container-4 .portion-3 .boxes .bx-1 ul li{
    margin-top: 30px;
    color: grey;
    font-size: 20px;
}

/* bx-2  */

.container-4 .portion-3 .boxes .bx-2>p{
    /* text-align: center; */
    /* width: 10px; */
    font-size: 20px;
    padding-top: 30px;
    padding-left: 60px;
    /* align-items: center; */
}
.container-4 .portion-3 .boxes .bx-2 .s-1{
    display: flex;
    /* border: 2px solid pink; */
    margin-top: 30px;
}
.container-4 .portion-3 .boxes .bx-2 .s-1 img{
    /* margin-top: 20px; */
    margin-left: 30px;
}
.container-4 .portion-3 .boxes .bx-2 .s-1 p{
    margin-left: 0;
    background-color: rgb(70, 178, 221);
    padding: 8px;
    margin-left: 10px;
    border-radius: 10px;
}
/* unordered list */

.container-4 .portion-3 .boxes .bx-2 ul{
    margin-left: 30px;
    margin-top: 30px;
}
.container-4 .portion-3 .boxes .bx-2 ul li{
    margin-top: 30px;
    color: grey;
    font-size: 20px;
}


/* bx-3  */

.container-4 .portion-3 .boxes .bx-3>p{
    /* text-align: center; */
    /* width: 10px; */
    font-size: 20px;
    padding-top: 30px;
    padding-left: 60px;
    /* align-items: center; */
}
.container-4 .portion-3 .boxes .bx-3 .s-1{
    display: flex;
    /* border: 2px solid pink; */
    margin-top: 30px;
}
.container-4 .portion-3 .boxes .bx-3 .s-1 img{
    /* margin-top: 20px; */
    margin-left: 30px;
}
.container-4 .portion-3 .boxes .bx-3 .s-1 p{
    margin-left: 0;
    background-color: rgb(70, 178, 221);
    padding: 8px;
    margin-left: 10px;
    border-radius: 10px;
}
/* unordered list */

.container-4 .portion-3 .boxes .bx-3 ul{
    margin-left: 30px;
    margin-top: 30px;
}
.container-4 .portion-3 .boxes .bx-3 ul li{
    margin-top: 30px;
    color: grey;
    font-size: 20px;
}

/*container 4 portion 4 */

.container-4 .portion-4{
    width: 100%;

}
.container-4 .portion-4>p{
    text-align: center;
    font-size: 40px;
    font-weight: 10px;
}
.container-4 .portion-4 .cover{
    display: flex;
    justify-content: center;
}

/* backend  */
.container-4 .portion-4 .cover .backend{
    width: 600px;
    height: 300px;
    /* border: 2px solid black; */
    border-bottom: 1px solid blue;
}
.container-4 .portion-4 .cover .backend .upper{
    width: 100%;
    height: 50px;
    background-color: rgb(138, 138, 202);
    text-align: center;
    display: flex;
    padding: 10px 100px;
}

.container-4 .portion-4 .cover .backend .upper img{
    width: 30px;
    height: 30px;
    margin-left: 10px;

}
.container-4 .portion-4 .cover .backend .upper>p{
    background-color: #fff;
    border-radius: 10px;
    padding: 4px;
    margin-left: 5px;
}

.container-4 .portion-4 .cover .backend .lower{
    width: 100%;
    height: 250px;
    /* border: 2px solid black; */
}
.container-4 .portion-4 .cover .backend .lower ul{
    margin-left: 30px;
    margin-top: 20px;
}
.container-4 .portion-4 .cover .backend .lower ul li{
    margin-top: 40px;
    color: blue;
}
.container-4 .portion-4 .cover .backend .lower ul li span{
    color: grey;
    font-size: 20px;
}

/* fullstack  */

.container-4 .portion-4 .cover .fullstack{
    width: 600px;
    height: 300px;
    border: 2px solid rgb(245, 181, 63);
}
.container-4 .portion-4 .cover .fullstack .upper{
    width: 100%;
    height: 50px;
    background-color: orange;
    text-align: center;
    display: flex;
    padding: 10px 70px;
}

.container-4 .portion-4 .cover .fullstack .upper img{
    width: 30px;
    height: 30px;
    margin-left: 10px;

}
.container-4 .portion-4 .cover .fullstack .upper>p{
    background-color: #fff;
    border-radius: 10px;
    padding: 4px;
    margin-left: 5px;
}

.container-4 .portion-4 .cover .fullstack .lower{
    width: 100%;
    height: 248px;
    border: 2px solid rgb(39, 235, 39);
    background-color: rgb(39, 235, 39);
}
.container-4 .portion-4 .cover .fullstack .lower ul{
    margin-left: 30px;
    margin-top: 20px;
}
.container-4 .portion-4 .cover .fullstack .lower ul li{
    margin-top: 40px;
    color: orange;
    
    /* font-style: 200px; */
}
.container-4 .portion-4 .cover .fullstack .lower ul li span{
    color: grey;
    font-size: 20px;
}


/* portion 5 */
.container-4 .portion-5{
    width: 100%;
    /* border: 1px solid blue; */
}
.container-4 .portion-5 .up-1{
    width: 100%;
    /* border: 1px solid yellow; */
    display: inline-flex;
    text-align: center;
    justify-content: center;
}
/* .container-4 .portion-5 .up-1>h1{
    text-align: center;

}
.container-4 .portion-5 .up-1>img{
    justify-content: center;
    align-items: center;
} */
.container-4 .portion-5 .up-2{
    justify-content: center;
    text-align: center;
    width: 100%;
}
.container-4 .portion-5 .up-2>p{
    justify-content: center;
    text-align: center;
    width: 80%;
    padding-left: 200px;
}

/* up-3  */

.container-4 .portion-5 .up-3{
    width: 100%;
    height: 80vh;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* block 1 */
.container-4 .portion-5 .up-3 .block-1{
    width: 400px;
    height: 500px;
    border: 2px solid yellow;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #fff;
}
.container-4 .portion-5 .up-3 .block-1 .d1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}
.container-4 .portion-5 .up-3 .block-1 .d1>h1{
    margin-left: 10px;
}
.container-4 .portion-5 .up-3 .block-1 .d2{
    justify-content: center;
    align-items: center;
    /* margin-left: 80px; */
    display: flex;
    margin-top: 20px;
}
.container-4 .portion-5 .up-3 .block-1 .d2>p{
    margin-left: 10px;
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
}
.container-4 .portion-5 .up-3 .block-1 .d3{
    margin-top: 20px;
    margin-left: 30px;
}
/* .container-4 .portion-5 .up-3 .block-1 .d3>ul{
    /* list-style-type: none; */
} */
.container-4 .portion-5 .up-3 .block-1 .d3>ul>li{
    /* list-style: none; */
    margin-top: 30px;
    color: rgb(206, 105, 105);
}

.container-4 .portion-5 .up-3 .block-1 .d3>ul>li>span{
    color: grey;
}



/* block 2 */




.container-4 .portion-5 .up-3 .block-2{
    width: 400px;
    height: 500px;
    border: 2px solid yellow;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #fff;
}

.container-4 .portion-5 .up-3 .block-2 .d1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}
.container-4 .portion-5 .up-3 .block-2 .d1>h1{
    margin-left: 10px;
}
.container-4 .portion-5 .up-3 .block-2 .d2{
    justify-content: center;
    align-items: center;
    /* margin-left: 80px; */
    display: flex;
    margin-top: 20px;
}
.container-4 .portion-5 .up-3 .block-2 .d2>p{
    margin-left: 10px;
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
}
.container-4 .portion-5 .up-3 .block-2 .d3{
    margin-top: 20px;
    margin-left: 30px;
}
/* .container-4 .portion-5 .up-3 .block-2 .d3>ul{
    /* list-style-type: none; */
} */
.container-4 .portion-5 .up-3 .block-2 .d3>ul>li{
    /* list-style: none; */
    margin-top: 25px;
    color: rgb(120, 120, 194);
}

.container-4 .portion-5 .up-3 .block-2 .d3>ul>li>span{
    color: grey;
}




/* block 3  */
.container-4 .portion-5 .up-3 .block-3{
    width: 400px;
    height: 500px;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: #fff;
}

.container-4 .portion-5 .up-3 .block-3 .d1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}
.container-4 .portion-5 .up-3 .block-3 .d1>h1{
    margin-left: 10px;
}
.container-4 .portion-5 .up-3 .block-3 .d2{
    justify-content: center;
    align-items: center;
    /* margin-left: 80px; */
    display: flex;
    margin-top: 20px;
}
.container-4 .portion-5 .up-3 .block-3 .d2>p{
    margin-left: 10px;
    background-color: rgb(192, 146, 60);
    padding: 10px;
    border-radius: 5px;

}
.container-4 .portion-5 .up-3 .block-3 .d3{
    margin-top: 20px;
    margin-left: 30px;
}
/* .container-4 .portion-5 .up-3 .block-3 .d3>ul{
    /* list-style-type: none; */
} */
.container-4 .portion-5 .up-3 .block-3 .d3>ul>li{
    /* list-style: none; */
    margin-top: 35px;
    color: orange;
}

.container-4 .portion-5 .up-3 .block-3 .d3>ul>li>span{
    color: grey;
}

.container-4 .portion-5 .up-4{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container-4 .portion-5 .up-4>p{
    text-align: center;
    /* float: left; */
    /* width: 150px; */
}
.container-4 .portion-5 .up-4>p>span{
    font-size: 20px;
    color: grey;
    
}
.container-4 .portion-5 .up-4>button{
    margin-left: 650px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    
}
.container-4 .portion-5 .up-4>button:hover{
    box-shadow: 0 0 0 0.2em #856269;
    cursor: pointer;
}
